<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flipkart Scraper{% endblock %}</title>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @keyframes slideDown {
          from { transform: translateY(-100%); opacity: 0; }
          to { transform: translateY(0); opacity: 1; }
        }
        .animate-slideDown {
          animation: slideDown 0.8s ease-out;
        }
</style>


    {% block head %}{% endblock %}
</head>
<body class="bg-gray-50 text-gray-800 font-sans">
    <header class="bg-gray-400 text-black p-4 animate-slideDown">
    <h2 class="text-xl font-bold">🔍 Flipkart Review Scraper</h2>
    </header>



    <main class="container mx-auto p-6">
        {% block body %}{% endblock %}
    </main>

    <footer class="dark:bg-gray-200 bg-red-400 text-center p-4 mt-6 hover:bg-pink-100 transition">
        <p class="text-sm hover:bg-purple-100 transition">© 2025 Flipkart Scraper Demo</p>
    </footer>
</body>
</html>